<section>
	<h1>L'accès à localhost a été refusé</h1>
	<p id="err403">
		Vous n'êtes pas autorisé à consulter cette page.
		<a href="{{ constant('Routeur::BASE_URI') }}">Accédez à la page d'accueil du site</a>
	</p>
</section>
