<section class="member__page">
	<h1 class="member__title">Connexion</h1>
	<form name="frmConnexion" method="POST" class="connexion__form">
		<span class="connexion__error" id="messageRetourAction">&nbsp;{{ messageRetourAction }}</span>
		<div class="member__items">
			<label>Courriel:</label>
			<input name="utilisateur_courriel" value="" class="connexion__input"/>
		</div>
		<div class="member__items">
			<label>Mot de passe:</label>
			<input type="password" name="utilisateur_mdp" value="" class="connexion__input"/>
		</div>
		<input type="submit" value="Connexion" class="member__button button--red"/>
	</form>
	<a id="cc" href="compte?entite=devenirMembre&action=cc" class="modale__link">&#x2767; Vous n'avez pas de compte? Cliquez ici pour en créer un.</a>
</section>
